/* Empty. Add your own CSS if you like */

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?xk6wb5');
    src:    url('../fonts/icomoon.eot?xk6wb5#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?xk6wb5') format('truetype'),
        url('../fonts/icomoon.woff?xk6wb5') format('woff'),
        url('../fonts/icomoon.svg?xk6wb5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
    content: "\e900";
}
.icon-diamond:before {
    content: "\e901";
}
.icon-calendar-full:before {
    content: "\e902";
}


ion-content {
	background-color: #56506c;
}
.has-header {
	top:60px !important; /* Overwrite other as changed the height of the header */
}
.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
	font-size: 26px !important;
}

.bar-clear {
	z-index: 9999 !important;
	position: absolute;
}

.bar-white {
	background-color: #2f313e !important;
	border-bottom:0px;
	height: 60px;
	color:#FFFFFF;
}
.bar-white:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #2f313e;
	border-width: 10px;
	margin-left: -10px;
}

.icon-small {
	font-size: 11px !important;
}
.button {
	color:#FFFFFF;
}

.bar .title {
	line-height: 40px !important; 
}

.item {
	padding: 0px !important;
	height:215px !important;
	border:0px !important;
} 

.item img {
	width:100%;
}

.slider-slide:before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  opacity:1 !important;
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -moz-transition: opacity 0.25s !important;
  -webkit-transition: opacity 0.25s !important;
  transition: opacity 0.25s !important;
  z-index: 9998;
  height: inherit;
  width: inherit;
}

.view-header:before {
  content: "" !important;
  display: block !important;
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  opacity:1 !important;
  background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  -moz-transition: opacity 0.25s !important;
  -webkit-transition: opacity 0.25s !important;
  transition: opacity 0.25s !important;
  z-index: 9000;
  height: 235px;
  width: 100%;
}
.view-header {
	top: 15px !important;
}

.view-header .icon {
	top:10px;
	position: absolute;
	font-size:32px;
	color:gold;
	right: 20px;
	z-index: 9999;
}

.item-title {
	margin-top: -70px;
	z-index: 9999;
	position: absolute;
	color:#ffffff;
	font-size: 16px;
	padding-left: 20px;
	font-weight: bold;
	width:444px;
}
.slider-slides {
	height: initial !important;
}
.slider-slide {
    height:inherit;
    border-bottom:1px solid #2f313e;
    width:100%;
}
.slider-slide img {
	/*height: 250px;*/
	/*width:444px; */
	width:inherit;
}

.tab-item .icon{
	font-size: 24px;
	padding-top:5px;
}

.tabs {
	background-color: #2f313e;
	border:none !important;
}

ion-tabs.tabs-color-active-positive .tab-item {
	color:#FFFFFF;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active, ion-tabs.tabs-color-active-positive .tab-item.active, ion-tabs.tabs-color-active-positive .tab-item.activated {
	color:#4abbff;
}

.dash_inner {
	
}

.slider-pager .slider-pager-page {
	color:#FFFFFF;
}
.slider-pager {
	text-align: right;
	padding-right: 20px;
	bottom: 20px !important;
}

.slider {
	height: inherit;
}

.button:hover {
    color: #FFFFFF !important;
}

.list .item {
	height: 80px !important;
}


.button-clear.button-clear {
	color:#FFFFFF !important;
}

.header-breaker {
	background-color: #68647a;
	padding: 15px 20px;
	color: #FFFFFF;

	border-top: 1px solid #605b73;
}

.col, .row {
	padding: 0px !important;
}
.col.right-text {
	text-align: right;
	font-size: 20px;
}

.tabs {
		background-size:100% 0px !important;
	}




.detail-content {
	background-color: #FFFFFF;
	width:100%;
	min-height: 100%;
	margin-top:-8px;
	padding: 5px;
	z-index: 9999;
}
.detail-content-header:before {
	content: '';
	position: absolute;
	left: 0;
	top: 218px;
	width: 100%;
	height: 60px;
	background: #FFFFFF;
	-webkit-transform: skewY(2.5deg);
	-moz-transform: skewY(2.5deg);
	-ms-transform: skewY(2.5deg);
	-o-transform: skewY(2.5deg);
	transform: skewY(2.5deg);
	-webkit-backface-visibility: hidden;
	z-index: 9998;
}
.detail-container {
	z-index: 9999;
	position: relative;
	margin-top: -15px;
	padding:5px;
}

@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx)
	.tabs {
		background-size:100% 0px !important;
	}

}