<ion-view view-title="GAMES">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="game in games" type="item-text-wrap" href="#/tab/games/{{game.id}}">
        <img ng-src="{{game.game_boxart}}">
        <h2>{{game.game_title}}</h2>
        <p>{{game.description}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
